@{
    ViewData["Title"] = "Admin Add";

}
@model HMS_Dotnet.Models.Admin;
<html>

<body>
    <div>
        <div>
            Hello This is Admin Add Page
        </div>
        <div>
            <p>Hello Hows it going @Model.Name </p>
        </div>
    </div>
</body>

</html>
