@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="flex justify-between p-5 bg-gray-400 w-full h-screen text-center">
        <div class="m-1 bg-white h-[620px] shadow-2xl">
            <img src="~/assets/doctor_new.png" alt="hospital" class="h-[500px]" />
            <p>Doctor</p>
            <a>Log In</a>
        </div>
        <div class="m-1 bg-white h-[620px] shadow-2xl">
            <img src="~/assets/patient.jpg" alt="hospital" class="h-[500px]" />
            <p>Patient</p>
            <a>Log In</a>
        </div>
        <div class="m-1 bg-white h-[620px] shadow-2xl">
            <img src="~/assets/admin.png" alt="hospital" class="h-[500px]" />
            <p>Admin</p>
            <a href="/admin/login">Log In</a>
        </div>
    </div>
</div>
