@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="flex justify-between p-10 bg-gray-600">
        <div>
            <img src="~/assets/doctor_new.png" alt="hospital" class="h-[500px]" />
            <p>Doctor</p>
            <a>Log In</a>
        </div>
        <div>
            <img src="~/assets/patient.jpg" alt="hospital" class="h-[500px]" />
            <p>Patient</p>
            <a>Log In</a>
        </div>
        <div>
            <img src="~/assets/admin.png" alt="hospital" class="h-[500px]" />
            <p>Admin</p>
            <a>Log In</a>
        </div>
    </div>
</div>
